.homeHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: #fefefe;
    font-size: 2rem;
}

.homeHeader span {
    color: #b30000
}

.inputQuery {
    padding: 1rem;
    width: 80%;
}

.pokemonList {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem .5rem;

    padding: 2rem;
    list-style: none;
    width: 80vw;

    overflow-y: scroll;
    max-height: 60vh;

    background-color: #eeeeee;

    box-shadow: inset 0 0 16px rgba(0, 0, 0, .1);
}