.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: fit-content;
    box-sizing: border-box;

    background-color: rgb(240, 240, 240);
    border-radius: .5rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .5);
    transition: .2s all ease-in-out;
}

.card:hover {
    transition: .2s all ease-in-out;
    background-color: white;
}

.card h1 {
    display: flex;
    width: min-content;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #363636;
    padding-bottom: 1rem;

}

.card p {
    font-size: 1.5rem;
    width: fit-content;
    padding: .4rem;
    border-radius: .4rem;
    color: #efefef;
}

.card p span {
    font-weight: bold;

}

.pokemonInfos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #363636;
    padding-bottom: 1rem;
}

.pokeImage {
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0 0 8px #363636);
    filter: drop-shadow(0 0 8px #363636);
    border-bottom: #363636 1px solid;
}

.typeArea {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: center;
    width: 100%;

}

.typeArea .type {
    text-align: center;
    flex: 1;
    max-width: 60%;
}

.actionArea {
    display: flex;
    flex-flow: 1;
    gap: 1rem;
}

.type_normal {
    background-color: #aa9;
}

.type_fire {
    background-color: #f42;
}

.type_water {
    background-color: #39f;
}

.type_eletric {
    background-color: #fc3;
}

.type_grass {
    background-color: #7c5;
}

.type_ice {
    background-color: #6cf;
}

.type_fighting {
    background-color: #b54;
}

.type_poison {
    background-color: #a59;
}

.type_ground {
    background-color: #db5;
}

.type_flying {
    background-color: #89f;
}

.type_psychic {
    background-color: #f59;
}

.type_bug {
    background-color: #ab2;
}

.type_rock {
    background-color: #ba6;
}

.type_ghost {
    background-color: #66b;
}

.type_dragon {
    background-color: #76e;
}

.type_dark {
    background-color: #754;
}

.type_steel {
    background-color: #aab;
}

.type_fairy {
    background-color: #e9e;
}